
body {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
	font-family: Arial;
	font-size:13px;
}

header {
    margin:10px;
    align-self : flex-end;

}


footer {
    
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    bottom:0;
    position : absolute;
    width:100%;
    
}


section {
	display:flex;
	flex-direction: column;
    justify-content : space-between;
    align-items:center;
    flex:2;
    text-align:center;
}




nav ul
{
	display : flex;
	justify-content: flex-end;
}

nav li
{
	list-style-type: none;
	padding-left: 20px;
}

nav li a
{
	text-decoration : none;
	color : rgba(0,0,0,0.87);
}

.lesbouttons a {
	text-decoration : none;
}

.footer-line ul li a {
	text-decoration : none;
	color : #5F6368;
}

nav li a:hover {
   opacity: .85;
   text-decoration: underline;

}


.btn-connexion {
	background: #4285f4;
	color : #ffffff;  
}

.btn-google {
	background-color: #f2f2f2;
    color: #757575;
}

.btn-connexion, .btn-google  {
	padding: 10px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 13px;
}

.btn-google:hover {
	background-color: #f8f8f8;     
   border: 1px solid #c6c6c6;  
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);   
   color: #222;
}


.logo {
	margin-top:100px;
}

.recherche {
	margin-top:30px;
	border: solid 1px ;
	border-color: #dfdfdf;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	width : 584px;
	height : 44px;
	display : flex;
	align-items : center;
	justify-content: space-between;
	padding : 2px 15px 0px 15px;
}

div.recherche:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

li a img {
    width: 17px;
}

input {
	width:500px;
	border:none;
}

input:focus {
	outline:none;
}

.micro {
    height: 24px;
    width: 24px;
}



.lesbouttons {
	margin-top:50px;
}

.footer-line {
	background-color: #f2f2f2;
	border-top: 1px solid #E4E4E4;
	height : 40px;
    display:flex;
    justify-content: space-between;
   
}

.footer-line ul
{
	display : flex;
    justify-content: flex-end;
    padding-right:20px;
}

.footer-line li
{
	list-style-type: none;
	padding-left:20px;
}

.footer-line span
{
	padding-left: 60px;
	color : #5F6368;
	font-size:15px;
	
}


.footer-line ul {
	margin-top:0px;
}


/* INFOBULLE */
.tooltip{
	display: inline;
	position: relative;
	}

	.tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
	}
	
	.tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
	}
	
