ul
{
	display : flex;
	justify-content: flex-end;
}

li
{
	list-style-type: none;
	padding-left: 20px;
}

a
{
	text-decoration : none;
	color : rgba(0,0,0,0.87);
}

a:hover {
   opacity: .85;
   text-decoration: underline;

}

.google {
	display:flex;
	flex-direction:column;
	align-items:center;

}

.logo {
	margin-top:100px;
}

.recherche {
	margin-top:30px;
	border: solid 1px #3e3e3e;
	padding:5px;
}

input {
	width:500px;
	border:none;
}

.micro {
    height: 24px;
    width: 24px;
}